<!-- {{order| json}} -->

<div class="container mt-5">
    <div class="row" *ngFor="let item of order">
      <div class="col-8">
        <div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Quantity</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Total</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let innerItem of item.orderItems">
                  <th scope="row">
                    <div class="p-2">
                      <img src="{{innerItem.pictureUrl}}" alt="{{innerItem.productName}}" class="img-fluid"
                        style="max-height: 50px">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0">
                          {{innerItem.productName}}
                        </h5>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle"><strong>{{innerItem.price | currency}}</strong></td>
                  <td class="align-middle">
                    <span class="font-weight-bold px-2">{{innerItem.quantity}}</span>
                  </td>
                  <td class="align-middle"><strong>{{innerItem.price * innerItem.quantity | currency}}</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="bg-light px-4 py-3 text-uppercase font-weight-bold">Order summary</div>
        <div class="p-4">
          <ul class="list-unstyled mb-1">
            <li class="d-flex justify-content-between py-3 border-bottom">
              <strong class="text-muted">Order subtotal</strong>
              <strong>{{item.subTotal | currency}}</strong>
            </li>
            <li class="d-flex justify-content-between py-3 border-bottom">
              <strong class="text-muted">Shipping and handling</strong>
              <strong>{{item.total - item.subTotal | currency}}</strong>
            </li>
            <li class="d-flex justify-content-between py-3 border-bottom">
              <strong class="text-muted">Total</strong>
              <strong>{{item.total | currency}}</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>